.container{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 20px;
}
.item{
    background-color: lightgreen;
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
}
p{
    width: 20px;
    height: 20px;
    background-color: green;
    text-align: center;
    margin: 0;
    padding: 0;
}