* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    display: grid;
    grid-template-columns: minmax(300px,2fr) 3fr;
    grid-auto-rows: 550px;
    border-bottom: 1px solid rgb(231, 181, 89);
    padding-bottom: 20px;
}
.hero h1{
    font-size: 40px;
    color: rgb(11, 11, 148);
}
.hero-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-self: center;
}
.hero-info__btn{
    background-color: orangered;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.hero-info__btn:hover{
    background-color: rgb(184, 59, 13)
 
}
.menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 1fr;
    gap: 25px;
    justify-content: center;
    margin-bottom: 60px;
}
.menu-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.menu-item__big{
    grid-area: 1 / 1 / 3 / 3;
}
.title{
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}


.footer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    grid-auto-rows: 150px;
    margin-top: 50px;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
}
.footer-grid img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: papayawhip;
    display: flex;
    border-radius: 8px;
}
